h1{
  border-color: rgb(98, 195, 228);
  border-style: dashed;
}
/*Rule 1*/
h2{
  border-color: #e09b1a;
  border-style: groove;
}
/*Rule 2*/
h3{
  border-color: rgb(255, 100, 50);
  border-style: solid;
}
/*Rule 3*/
body {
  background: rgb(255,213,128) 
}

/*Rule 4*/
img{
  border: 5px solid rgb(255, 100, 50);
  width: 250px;
  height: 500px;
}
/*Rule 5*/
ul{
  background: rgb(0,213,128)
}
